.git/
.gcloud/
.gcloud-tang/
.venv/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

frontend/node_modules/
frontend/.next/
frontend/out/
frontend/*.tsbuildinfo
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*

.DS_Store
tests/
infra/
